# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
desktop.ini

# ==========================
# Hugging Face Model
# ==========================
models/sentence_model/

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log